@use './colors' as *;
@use './animations' as *;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-padding-top: 73.6px;
}
body {
	background-color: $bg-color;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}
span {
	color: $main-color;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.6);
}
.section-title {
	text-align: center;
	text-transform: uppercase;
}
.underline {
	margin: 0 auto;
	background-color: $main-color;
	width: 60px;
	height: 4px;
	margin-bottom: 40px;
}
// Navbar
nav {
	z-index: 2;
	transition: background-color 0.6s;
	.navbar-toggler {
		padding: 10px 15px;
	}
	.navbar-brand {
		font-weight: bold;
	}
	text-transform: uppercase;
	.nav-link,
	.navbar-nav .nav-link.show,
	.navbar-brand,
	.fa-bars {
		color: $white-color;
	}
	.nav-link:focus,
	.nav-link:hover,
	.navbar-nav .nav-link.active,
	.navbar-nav .nav-link.show,
	.navbar-brand:focus,
	.navbar-brand:hover {
		color: $main-color;
	}
}
// Header
.hero-img {
	position: relative;
	height: 100vh;
	background-image: url('../img/hero-small.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 0;
	.hero-text {
		color: $white-color;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		h1 {
			text-transform: uppercase;
		}
	}
	.hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -5;
	}
	.fa-chevron-down {
		position: absolute;
		left: 50%;
		bottom: 5%;
		transform: translate(-50%);
		font-size: 20px;
		color: $white-color;
	}
}

// Main
.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}
	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}
	.aboutus-card-text {
		font-size: 14px;
	}
	.aboutus-hover {
		transition: color 0.3s;
	}
	.aboutus-hover:hover {
		color: $main-color;
	}
}
.aboutus-hero {
	position: relative;
	background-image: url('../img/technology-small.jpg');
	background-size: cover;
	background-position: center;
	color: $grey-color;
	z-index: 1;
	.aboutus-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -5;
	}
	.aboutus-hero-item {
		margin: 10px 0;
		i {
			font-size: 36px;
		}
	}
	.aboutus-hero-title {
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
}
.portfolio {
	.carousel-item {
		height: 600px;
	}
	.carousel-caption {
		background-color: rgba(0, 0, 0, 0.6);
		width: 100%;
		right: 0;
		left: 0;
		padding: 40px 100px;
	}
	.carousel-indicators {
		padding-bottom: 20px;
	}
}
.prices {
	.price-box {
		margin: 20px;
		padding: 30px;
		background-color: $white-color;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
		transition: scale 0.3s;
		span {
			color: black;
			font-weight: bold;
		}
		i {
			padding: 0 5px;
			font-size: 24px;
		}
		button {
			padding: 10px 20px;
			text-transform: uppercase;
			border: none;
		}
		.btn:hover {
			background-color: $main-color;
		}
	}
	.price-box:hover {
		scale: 1.05;
	}
	.price-title {
		color: $main-color;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 20px;
	}
	.price-tag {
		font-weight: bold;
		font-size: 24px;
	}
	.price-info {
		margin-top: 30px;
		a {
			text-decoration: none;
		}
	}
}
.achievements-list {
	padding: 20px 0;
	i {
		padding: 10px;
		font-size: 48px;
		color: $white-color;
		text-shadow: 0 0 5px rgb(0, 0, 0);
	}

	.achievement-number {
		font-size: 22px;
	}

	.achievement-text {
		font-size: 13px;
		text-transform: uppercase;
	}
}

.contact {
	position: relative;
	background-image: url('../img/contact-bg.jpg');
	background-position: bottom;
	background-attachment: fixed;
	background-size: cover;
	z-index: 0;

	.section-title {
		color: $grey-color;
	}

	.underline {
		background-color: $grey-color;
	}

	.contact-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 9, 27, 0.85);
		z-index: -5;
	}

	.contact-us {
		display: flex;
		align-items: center;
		color: $white-color;

		.contact-item {
			margin: 30px 0;

			h3 {
				margin-bottom: 15px;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
		}

		.social-media {
			font-size: 26px;

			a {
				padding: 10px;
				color: $white-color;
				transition: color 0.3s;
			}

			a:hover {
				color: $main-color;
			}
		}
	}
}

@media (min-width: 768px) {
	.hero-text {
		h1 {
			font-size: 42px;
		}
		p {
			font-size: 24px;
		}
	}
}
@media (min-width: 1200px) {
	.hero-img {
		background-image: url('../img/hero-big.jpg');
	}
}
